<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPicSortService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:20563/PicSort/PicSort" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IPicSortService" contract="Wcf_Server.IPicSortService"
                name="WSHttpBinding_IPicSortService">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>